@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(156, 155, 155);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none; /* Usar o display none quando for colocar interatividade com JS no menu */
    background-color: rgb(87, 87, 87);
}

menu > ul > li {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    text-align: center;
    border-top: 2px solid gray;
    text-decoration: none;
    padding: 10px;
    color: white;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 10px;
    margin-top: 12px;
    border-radius: 10px;
}


article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}